* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 100%;
    height: 15%;
    background: darkslategray;
}

header h1{
    font-size: 20px;
    right: 50px;
    position: absolute;
}

main {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.categories{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    background-color: darkgray;
    padding: 10px;
}

.categories a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    margin: 10px;
}

.shop{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.search{
    height: 10%;
    width: 100%;
    background-color: blueviolet;
}

.articles{
    width: 100%;
    background-color: lightgray;
}

.articles p, .articles form{
    margin: 10px;
}

.cart{
    background-color: darkgray;
}

.cart input {
    margin: 10px 0 10px 0;
}